

h1.title {
  font-family: 'EB Garamond', serif;
  font-weight: 500;
  font-size: 7vw;
  margin-left: 10vw;
}

h2.logo {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 1.5vw;
  text-align: right;
}

span.prevent-break {
  white-space: nowrap ;
}

.top-spacer {
  height: 100px;
}

.h1-circle {
  width: 24vw;
  height: 24vw;
  margin-bottom: -17vw;
  background: #3AE2D2;
  border-radius: 50%
}

section.section-questions {
  margin-top: 5vw;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 2.5vw;
  text-align: right;
}

span.question {

}

section.section-go-button {
  margin-top: 5vw;
}

button.go-button {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2vw;
  border: none;
}