

h1.title {
  font-family: 'EB Garamond', serif;
  font-weight: 500;
  font-size: 7vw;
  margin-left: 10vw;
}

h2.logo {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5vw;
  text-align: right;
}

.top-spacer {
  height: 100px;
}

.h1-circle {
  width: 24vw;
  height: 24vw;
  margin-bottom: -17vw;
  background: #3AE2D2;
  border-radius: 50%
}